---
import "../style/style.scss";

const title = "HmmAI";
const description = "An AI that responds with 'Huh'.";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		<div class="title">
			<h1>HmmAI</h1>
			<h2>Fastest <abbr title="Artificial Idiocy">AI</abbr> model in existence</h2>
		</div>
	<div class="conversation">
		<div class="messages">
		</div>
		<form>
			<label class="input">
				<input type="text" placeholder="Type your message here..." />
			</label>
			<button type="submit" disabled>Send</button>
			<button popovertarget="settings" popovertargetaction="show" type="button">?</button>
		</form>
	</div>
	<div popover id="settings">
		<div class="wrap">
			<button class="exit" popovertarget="settings" popovertargetaction="hide" title="Exit menu">x</button>
			<div class="information">
				<p>
					This is a joke website inspired by <a href="https://theonion.com/ai-chatbot-that-only-responds-huh-valued-at-200-billion/" target="_blank">this onion article</a>.
					<br>
					<br>
					Check out <a href="https://yht.one" target="_blank">my website</a> while you're already here!
				</p>
			</div>
			<div class="options">
				<h3>Options</h3>
				<label>
					<span>Advanced responses (highly experimental)</span>
					<input
						type="checkbox"
						name="advancedResponses"
					/>
				</label>
				<label>
					<span>Thinking mode (Solves impossible problems)</span>
					<input
						type="checkbox"
						name="thinkingMode"
					/>
				</label>
			</div>
		</div>

	</div>
	<template id="message-template">
		<div class="message">
			<span class="header">
				<span class="sender"></span>
				<span class="thinking-time"></span>
			</span>
			<span class="content"></span>
		</div>
	</template>
	</body>
</html>

<script>
	const messageForm = document.querySelector("form");
	const messageInput = messageForm?.querySelector("input");
	const sendButton: HTMLButtonElement | null | undefined = messageForm?.querySelector('button[type="submit"]');
	const messagesContainer = document.querySelector(".messages");
	const messageTemplate = document.querySelector("#message-template") as HTMLTemplateElement | null;

	const optionsContainer = document.querySelector(".options");
	const advancedResponsesCheckbox = optionsContainer?.querySelector('input[name="advancedResponses"]') as HTMLInputElement | null;
	advancedResponsesCheckbox?.addEventListener("change", () => {
		toggleAdvancedResponses(advancedResponsesCheckbox.checked);
	});
    const thinkingModeCheckbox = optionsContainer?.querySelector('input[name="thinkingMode"]') as HTMLInputElement | null;
    thinkingModeCheckbox?.addEventListener("change", () => {
		toggleThinkingMode(thinkingModeCheckbox.checked);
	});

	const defaultOptions = {
		advancedResponses: false,
        thinkingMode: false
	};

	const options = initOptions();

	messageInput?.addEventListener("input", () => {
		if (!sendButton) return;
		sendButton.disabled = !messageInput.value.trim();
	});

	messageForm?.addEventListener("submit", (event) => {
		event.preventDefault();
		if (!messageInput) return;
		if (!sendButton) return;
		const userMessage = messageInput?.value.trim();
		if (!userMessage) return;
		messageInput.disabled = true;
		sendButton.disabled = true;
		messageInput.value = "";
		addMessage("You", userMessage);
        const randomDelay = options.thinkingMode ? Math.floor(Math.random() * 10000) + 5000 : Math.floor(Math.random() * 1000) + 500;
		if (options.thinkingMode) {
            setTimeout(() => addMessage("HmmAI", "Thinking..."), 500);
        }
        setTimeout(() => {
            if (options.thinkingMode && messagesContainer?.firstElementChild) {
                messagesContainer.removeChild(messagesContainer.firstElementChild);
            }
			addMessage("HmmAI", generateResponse(), options.thinkingMode ? randomDelay / 1000 : undefined);
			messageInput.disabled = false;
			messageInput.focus();
		}, randomDelay);
	});

	function addMessage(sender: string, text: string, thinkingTime: number | undefined = undefined) {
		if (!messageTemplate) return;
		const messageElement = document.importNode(messageTemplate.content, true);
		messageElement.querySelector('.sender')!.textContent = sender;
		messageElement.querySelector('.content')!.textContent = text;
		if (thinkingTime !== undefined) {
			messageElement.querySelector('.thinking-time')!.textContent = `Thought for (${thinkingTime.toFixed(2)}s)`;
		}
		messagesContainer?.prepend(messageElement);
	}

	function generateResponse(): string {
		const responses = ["Huh."]
		if (options.advancedResponses) {
			responses.push(
				"Huh?",
				"Huh!",
				"Hmm.",
				"Hmm?",
				"Hmm!",
				"Huh...?",
				"Huh...!",
				"That's crazy, huh?",
				"Can you believe that, huh?",
				"Wow, huh?",
				"Unbelievable, huh?",
				"Mind-blowing, huh?",
				"Astounding, huh?",
				"Incredible, huh?",
				"Shocking, huh?",
				"Surprising, huh?",
				"Fascinating, huh?",
				"Interesting, huh?",
				"That's something, huh?",
				"Well, huh.",
				"Anyway, huh.",
			);
		}
		return responses[Math.floor(Math.random() * responses.length)];
	}

	function getOptions() {
		return localStorage.getItem("options") ? JSON.parse(localStorage.getItem("options") || "{}") : defaultOptions;
	}

	function saveOptions() {
		localStorage.setItem("options", JSON.stringify(options));
	}

	function toggleAdvancedResponses(enabled: boolean) {
		options["advancedResponses"] = enabled;
		saveOptions();
		const advancedResponsesCheckbox = document.querySelector('.options input[name="advancedResponses"]') as HTMLInputElement | null;
		if (!advancedResponsesCheckbox) return;
		advancedResponsesCheckbox.checked = options.advancedResponses;
	}

    function toggleThinkingMode(enabled: boolean) {
		options["thinkingMode"] = enabled;
		saveOptions();
        const checkbox = document.querySelector('.options input[name="thinkingMode"]') as HTMLInputElement | null;
        if (!checkbox) return;
        checkbox.checked = options.thinkingMode;
    }

	/**
	 * Initializes the options UI based on the saved options.
	 */
	function initOptions() {
		const options = getOptions();
		for (const key in options) {
			const value = options[key];
			if (typeof value === "boolean") {
				const checkbox = document.querySelector(`.options input[name="${key}"]`) as HTMLInputElement | null;
				if (checkbox) checkbox.checked = value;
			}
		}
		return options;
	}

</script>
